# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Django
staticfiles/
db.sqlite3

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Vercel
.vercel
